/* HeroBanner.css */

.hero-banner {
  position: relative;
  background: url("../assets/images/Herobanner-Group_39403_min.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%),
    url("../assets/images/Herobanner-Group_39403_min.png");
}

.hero-banner::before {
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}
.hero-content h6 {
  color: #ff5a5f;
}
h6 {
  font-weight: 700;
  font-size: 18px;
}
p {
  font-size: 1.2em;
  margin-bottom: 30px;
  font-weight: 300;
}

h1 {
  font-size: 44px;
  font-weight: bolder;
}
